/*
    Application CSS
*/
.login-container {
    min-height: 100%;
    min-height: 100vh;
}

.vcenter {
    display: flex;
    align-items: center;
}

.filter-list {}

div.jp-video {
    margin: 20px auto;
}

footer {
    text-align: center;
}

.anim-revolving {
    animation-duration: 2s;
    animation-name: revolve;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    -webkit-animation-duration: 2s;
    -webkit-animation-name: revolve;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@keyframes revolve {
    from {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

.wrong-creds {
    display: none;
}

.login-logo {
    margin-bottom: 20px;
}

.navbar-brand {
    padding: 8px 15px;
}

.footer {
    margin-bottom: 20px;
}

.barcode {
    margin-bottom: 20px;
}
